* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    background-color: rgb(182, 222, 254);
    font-family: "Poppins", sans-serif;
    padding-top: 70px;
}
html{
    scroll-behavior: smooth;
}

.sect_title{
    text-align: center;
    font-size: 2.2rem;
    color: rgb(53, 53, 255);
    text-decoration: underline;
    margin-top: 3rem; 
}

/* -------navbar--------- */
.nav {
    background-color: rgb(87, 227, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    font-size: 1.25rem;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.485);

    
}
.nav_logo a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 2.3rem;
    margin-left: 4rem;
}
.nav_menu {
    display: flex;
    align-items: center;
}

.nav_menu ul {
    display: flex;
    list-style: none;
}
.nav_menu ul li {
    margin-right: 50px;
}
.nav_menu ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    opacity: 0.85;
    position: relative;
    
}
.nav_menu ul li a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -6px;
    left: 0px;
    background-color: black;
    transition: 0.5s;
}

.nav_menu ul li a:hover {
    color: black;
    font-weight: 500;
    transform: scale(1.05);
    opacity: 1; 
}
.nav_menu ul li a:hover::after{
    width: 100%;
}
.fa-bars{
    display: none;
}

/* ---------------HeroSection--------------- */
.hero_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.hero-left {
    width: 50%;
    font-size: 2rem;
    margin: 4rem auto;
    padding-left: 6rem;
}
.hero-left h2{
    margin-top: 10px;
    padding-left: 1rem;
}
.hero-left .btn{
    margin: 12px 18px 0;
    padding: 14px 30px;
    background-color: #0b60ff;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;    
    border-radius: 8px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.hero-left .btn:hover{
    background-color: #094ed1;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}
.hero-left .blue {
    color: rgb(89, 128, 255);
}
.hero-left #element {
    background: linear-gradient(135deg, #3dc8e0, #057996);
    /* Standard property */
    background-clip: text;
    /* Webkit browsers support */
    -webkit-background-clip: text;
    color: transparent;
}
.hero-left .icons {
    margin-left: 25px; 
}
.hero-left .icons i {
    color: rgb(68, 76, 80);
    font-size: 2.60rem;
    transition: transform 0.3s; 
}
.hero-left .icons i:hover {
    color: rgb(88, 141, 253);
    transform: translateY(-5px);
}

.hero-right {
    width: 40%;
}
.hero-right img {
    width: 70%;
    border-radius: 50%;
    padding-top: 5rem;
}
/* ------------ About Section ------------------ */
.about_section {
    padding: 40px 20px;
}

.about_section .Info {
    padding: 10px;
    margin: 2rem auto;
    width: 60%;
    font-size: 1.2rem;
    line-height: 1.7;
    text-align: justify;

}

/* --------------------------Skill-section--------------------*/

.skill_section{
    padding-top: 1.5rem;
}
.skills-tab{
    margin: 70px auto;
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.skills-tab .skill-box{
    border: 0px solid black;
    width: 25%;
    margin: 0 15px;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(135deg, #1adcfe, #0dacd4);
    transition: 0.3s;

}
.skills-tab .skill-box:hover{
    background: linear-gradient(135deg, #6de9ff, #05c2f2);
    transform: translateY(-15px);
}
.skills-tab .skill-box .skill-head{
    font-size: 1.4rem;
    padding: 10px 5px;
    border-bottom: 1px solid black;
}
.skills-tab .skill-box ul li{
    margin: 14px 40px;
}

/* --------------Project Section ------------------ */
.project_section{
    margin: 2rem 0;
    padding: 40px 100px;
}
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding: 20px 40px;
}
.project_info{
    border-radius: 10px;
    position: relative; 
    overflow: hidden;
    display: block;
    /* border: 2px solid black; */
}
.project_info img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;
    display: block; 
    transition: transform 0.3s;
}
.project_info .layer{
    background: linear-gradient(rgba(222, 221, 221, 0.4), #ff44c7);
    border-radius: 10px;
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: height 0.5s ease;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 15px;
}
.project_descript{
    margin-bottom: 15px;
}
.layer a{
    height: 60px;
    width: 60px;
    background-color: #fff;
    font-size: 18px;
    border-radius: 50%;
    color: #ff44c7;
    align-content: center;
    text-decoration: none;
}

.project_info:hover img{    
    transform: scale(1.1);
}
.project_info:hover .layer{
    height: 100%;
}

/* --------------------- Contact Section ------------ */
.contact_section{
    padding: 2rem;
}
.contact_box{
    display: flex;
    justify-content: space-around;
    padding: 3rem 5rem;
}
.left_contact{
    flex:1;
}
.left_contact h3 {
    margin-bottom: 30px;
    font-size: 30px;   
}
.left_contact p {
    margin-bottom: 12px;
    font-size: 18px;
}
.left_contact p i{  
    font-size: 20px;
    color: #197cfc;
}
.social-icons{
    display: inline-block;
    margin-top: 10px;
}
.social-icons a{
    margin-right: 20px;
}
.social-icons a i{
    font-size: 25px;
    color: #000;
    transition: transform 0.3s;
}
.social-icons a:hover i{
    transform: translateY(-5px);
    color: #2e87fd;
}
.right_contact{
    flex: 2;
}
.right_contact form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    background-color: #313131;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
}
.btn2{
    display: block;
    background-color: #0b60ff;
    padding: 15px 60px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
}
#msg{
    color: #111111;
    font-size: 20px;
    display: block;
    margin-top: 10px;
    font-weight: 500;
}

/* -------------------- Footer ----------------------- */
.footer{
    width: 100%;
    padding: 40px 0;
    background-color: #7f7f7f;
}
.footer p{
    text-align: center;
    /* padding-top: 10px; */
    /* color: #fff; */
    font-size: 20px;
}

/* -------------Media query ------------ */
/* ===============================
   TABLET (max-width: 992px)
================================= */
@media (max-width: 992px){

    /* Navbar */
    .nav {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: auto;
    }
    .nav_menu{
        position: absolute;
        top: 100%;   
        right: -100%;
        width: 50%;
        height: 100vh;
        background-color: #6ba4f0;
        transition: right 0.5s;
        align-items: flex-start;
    }

    .nav_menu ul{
        flex-direction: column;
        width: 100%;
        padding: 2.5rem;
        font-size: 24px;
    }

    .nav_menu ul li{
        margin-bottom: 2rem;
        margin-right: 0;
    }

    .fa-bars{
        display: block;
        position: absolute;
        right: 50px;
        font-size: 25px;
    }

    .nav .nav_menu.active{
        right: 0;
    }

    /* Hero */
    .hero-left {
        font-size: 1.4rem;
        padding-left: 0;
    }
    .hero-left #element{
        font-size: 2rem;
    }
    .hero-left .btn{
        width: 60%;
    }

    .hero-right img{
        width: 70%;
    }

    /* About */
    .about_section .Info {
        width: 85%;
        font-size: 1.15rem;
    }

    /* Skills */
    .skills-tab{
        flex-wrap: wrap;
    }

    .skills-tab .skill-box{
        width: 40%;
        margin-bottom: 20px;
    }
    /* Projects */
    .project_section{
        padding: 20px;
    }
    /* Contact */
    .contact_box{
        padding: 1rem;
    }
    .left_contact p, .left_contact p i {
        font-size: 16px;
    }
}


/* ===============================
    MOBILE DEVICES (max-width: 600px)
================================= */
@media (max-width: 600px){
    
    .nav_logo a{
        font-size: 1.8rem;
        margin-left: 2rem;

    }
    
    .hero_section{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
    .hero-left{
        width: 90%;
        font-size: 1.25rem;
    }
    .hero-left #element{
        font-size: 1.6rem;
    }
    .hero-left .btn{
        font-size: 1rem;
    }
    .hero-right{
        width: 100%;
    }
    .hero-right img{
        padding-top: 2rem;
    }
    .about_section .Info {
        font-size: 1.1rem;
    }
    .skills-tab{
        flex-direction: column;
        align-items: center;
    }
    .skills-tab .skill-box{
        width: 90%;
    }
    .contact_box{
        flex-direction: column;
        padding: 0.5rem;
    }
    #msg{
    font-size: 15px;
    }
    .footer p{
        font-size: 12px;
    }
}

